*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Estilos globais */
body{
    font-family      : Arial, sans-serif;
    line-height      : 1.6;
    background-color : #f4f4f4;
    color            : #333;
    margin           : 0px;
    padding          : 0px; 
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Estilos para o header */
header{
    background-color: #35424a;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estilos para navegacao */
nav ul{
    list-style-type: none;
    background-color: #35424a;
    

}